.form-continer{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 60%;
}
.forgotPasswordButton{
    align-self: center;
    text-decoration: underline;
    min-width: 90%;
}